kenlm@ git+https://github.com/kpu/kenlm@ba83eafdce6553addd885ed3da461bb0d60f8df7
transformers[audio,sentencepiece,sklearn,vision]==4.51.3
huggingface_hub[hf_transfer,hf_xet]==0.31.1
Pillow
librosa
pyctcdecode>=0.3.0
phonemizer
ffmpeg
starlette
uvicorn
gunicorn
pandas
orjson
einops
timm
sentence_transformers==4.0.2
diffusers==0.33.1
accelerate==1.6.0
torch==2.5.1
torchvision
torchaudio
peft==0.15.1
