name: Run Unit-Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9.12
    - name: Install Python dependencies
      run: pip install -e .[test,dev,torch]
    - name: Run Unit Tests
      run: make unit-test
    # - name: Run Integration Tests
    #   run: make integ-test